aimaze-machine/LbpwG425eqoqkAej.json
{
  "createdAt": "2025-03-19T11:49:41.185Z",
  "updatedAt": "2025-03-19T13:14:45.334Z",
  "id": "LbpwG425eqoqkAej",
  "name": "Automação de aviso no iphone messeger",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "iphoneaviso",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        0
      ],
      "id": "aa6de061-514b-4b81-bafe-f16b8a194511",
      "name": "Webhook",
      "webhookId": "eb7354ac-24ba-48be-bd39-41c1df6cfb52"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output.Content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        540,
        -100
      ],
      "id": "73287a6b-d418-4257-86c5-c9da9dda1b30",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um verificador de atividades novas, quando uma nova nota for adicionada no notion. busque a ferramenta notion. você vai formatar e mandar para o usuário, voce so deve enviar a nota quando ela for para o setor de design. so traga notas recentes \n\nso pegue os dados name setor design data de entrega start anota_o e o link da pagina\n\nhoje {{ $now }}\n\nexemplo: \n\n[Aviso de nova anotação]\ndados de mensagem\ndata de entrega\n\ncoloque bem formatado para enviar pelo imesseger no iphone\n\nNova nota titulo da nota o que é pra ser feito e data de entrega se tiver.\n\nverifique se a nota é para o setor de design e se o campo notificato esta como true or false e retorne true or false\nverificacao: true or false",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -148,
        0
      ],
      "id": "aad6780d-7275-49e1-87e9-d5c293c757fa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "56456454456466dfsdfsdfsdsdsds"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -120,
        220
      ],
      "id": "8e7f15d2-ee06-4cf8-8c5c-5da9b92709d5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "14516533-6e91-80c5-bf5b-fe54938b3a14",
          "mode": "list",
          "cachedResultName": "DB de anotações",
          "cachedResultUrl": "https://www.notion.so/145165336e9180c5bf5bfe54938b3a14"
        },
        "limit": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        0,
        220
      ],
      "id": "66c36f3c-27f6-48ff-ae35-d90a6de6803a",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "RqJiCMcIqeauBnye",
          "name": "[pixeomarketing] - notion.so/app - agenciapixeo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -280,
        220
      ],
      "id": "7ad5c666-479f-467b-8b09-c6f881c36999",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HqyrCnwePmXKkfxw",
          "name": "[main] - openia.com - tools@aimaze.com.br"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Content\": \"nota tirada do notion\",\n\t\"verificacao\": [\"true ou false\"],\n    \"notificado\": [\"true ou false\"],\n    \"linkdapagina\": [\"coloque aqui o link da pagina do notion\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        120,
        220
      ],
      "id": "052cf927-b30e-4ecd-bcc8-36b32dc134c9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d6da4c20-d73c-4ec7-a46d-82cf52e5c638",
              "leftValue": "={{ $json.output.verificacao[0].toBoolean() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "7b8e9108-0521-46cb-a855-88ef9f989279",
              "leftValue": "={{ $json.output.notificado[0].toBoolean() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        0
      ],
      "id": "1025d4f8-569a-470b-94d9-9dc9063b0416",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        540,
        100
      ],
      "id": "7811ceaf-71d9-425f-b929-5adc7605d647",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.output.linkdapagina[0] }}",
          "mode": "url"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "notificado|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        760,
        -100
      ],
      "id": "0c218fcf-e912-4655-8376-7f7837d0cc46",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "RqJiCMcIqeauBnye",
          "name": "[pixeomarketing] - notion.so/app - agenciapixeo@gmail.com"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "workflows.aimaze.com.br",
            "user-agent": "BackgroundShortcutRunner/3303.0.5 CFNetwork/3826.400.120 Darwin/24.3.0",
            "content-length": "37",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "pt-BR,pt;q=0.9",
            "content-type": "application/json",
            "x-forwarded-for": "189.70.99.202",
            "x-forwarded-host": "workflows.aimaze.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik_traefik.1",
            "x-real-ip": "189.70.99.202"
          },
          "params": {},
          "query": {},
          "body": {
            "question": "ha alguma nova nota ? "
          },
          "webhookUrl": "https://webhooks.aimaze.com.br/webhook-test/iphoneaviso",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "66291f71-aeb2-41de-9874-9813a14952cd",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-03-19T13:14:40.326Z",
      "updatedAt": "2025-03-19T13:14:40.326Z",
      "id": "brwwNeHBbFJwKx5K",
      "name": "iphone"
    },
    {
      "createdAt": "2025-03-19T13:14:43.407Z",
      "updatedAt": "2025-03-19T13:14:43.407Z",
      "id": "7U03JGixKuYJj8R8",
      "name": "notificação"
    }
  ]
}