aimaze-machine/oLrwTNZyVJCEz3vm.json
{
  "createdAt": "2025-03-31T18:22:19.882Z",
  "updatedAt": "2025-03-31T18:59:57.117Z",
  "id": "oLrwTNZyVJCEz3vm",
  "name": "My workflow 6",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        120
      ],
      "id": "51acd21d-3c4c-48c9-82e6-f0ae6bda1b57",
      "name": "When chat message received",
      "webhookId": "1e227c35-0609-45cc-b860-9934690e32ee"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nHoje: {{ $now }}\nConsidere um calendário onde em um determinado dia há um horário geral de disponibilidade, por exemplo, das 07:00 às 19:00. A tarefa é dividir esse intervalo em blocos de 30 minutos (meia hora), como 07:00–07:30, 07:30–08:00, etc.\n\nAlém disso, quero que você leve em conta os horários que já estão ocupados (agendamentos existentes), por exemplo: 09:00–10:00 e 13:30–14:00. e os exclua da lista.\n\nRetorne uma lista com todos os horários de 30 minutos que ainda estão disponíveis para agendamento nesse dia.\n\nmas separe esses horários em parte da manha e parte da tarde pergunte primeiro o usuário qual parte ele quer\n\nnunca retorne os horários ocupados so mostre os horários diponíveis e mostre somente os 3 primeiros horários\n {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        152,
        120
      ],
      "id": "8e424843-06c9-4c1a-9d07-aec2b58d3f5a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        340
      ],
      "id": "64af7db5-a547-4268-8dfa-01099a3638c8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HqyrCnwePmXKkfxw",
          "name": "[main] - openia.com - tools@aimaze.com.br"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "dsasdhghgjhsdas"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        340
      ],
      "id": "7bf3f0b7-3f66-4dae-9944-980134d8e232",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aimazemachine@gmail.com",
          "mode": "list",
          "cachedResultName": "aimazemachine@gmail.com"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        360,
        340
      ],
      "id": "386f743e-235b-44da-bf3f-a2ce4894dc22",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Eqt8e2WwupPypoIC",
          "name": "[calendar.google.com] - aimazemachine@gmail.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        -240
      ],
      "id": "befe6f00-f298-4f5d-94ee-8880c2b2032d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aimazemachine@gmail.com",
          "mode": "list",
          "cachedResultName": "aimazemachine@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        120,
        -240
      ],
      "id": "1a99010d-dba5-488b-8a7d-4cd560409c10",
      "name": "Google Calendar1",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Eqt8e2WwupPypoIC",
          "name": "[calendar.google.com] - aimazemachine@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=\nConsidere um calendário onde em um determinado dia há um horário geral de disponibilidade, por exemplo, das 07:00 às 19:00. A tarefa é dividir esse intervalo em blocos de 30 minutos (meia hora), como 07:00–07:30, 07:30–08:00, etc.\n\nAlém disso, quero que você leve em conta os horários que já estão ocupados (agendamentos existentes), por exemplo: 09:00–10:00 e 13:30–14:00.\n\nRetorne uma lista com todos os horários de 30 minutos que ainda estão disponíveis para agendamento nesse dia.\n\nA entrada será a data, o horário total disponível nesse dia, e os horários já agendados. A saída deve ser uma lista clara e organizada de horários livres em blocos de 30 minutos.\n\n🧪 Exemplo de entrada:\n{\n  \"data\": \"2025-04-01\",\n  \"disponibilidade_total\": \"07:00–19:00\",\n  \"horarios_ocupados\": [\n    \"09:00–10:00\",\n    \"13:30–14:00\",\n    \"17:00–17:30\"\n  ]\n}\n\n✅ Exemplo de saída esperada:\n07:00–07:30  \n07:30–08:00  \n08:00–08:30  \n08:30–09:00  \n10:00–10:30  \n10:30–11:00  \n...\n13:00–13:30  \n14:00–14:30  \n...\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        340,
        -240
      ],
      "id": "fe84cb19-25d8-4129-b178-acd2df0073cb",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HqyrCnwePmXKkfxw",
          "name": "[main] - openia.com - tools@aimaze.com.br"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9b49a8ae-cc2e-4533-94a1-55afc5b11a25",
  "triggerCount": 0,
  "tags": []
}